$primary-color:rgb(70,19,56);
$primary-color-dark:#331737;
$color-white:#ffffff;
$color-grey:#f7f7f7;
$color-grey-2:#999;
$grid-width:114rem;
$horizontal-space:6rem;
$color-black: rgba(0,0,0,.2);
$color-blacker: rgba(0,0,0,.8);
$color: 0000;