/* 
CONTAINS
LOW-LEVEL BASICS
RESETS AND STYLES FOR THE HTML
AND BODY ELEMENTS SELECTORS
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;


}
html{
    /*this defines what 1rem is*/
    font-size:62.5%;

    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;

    }
   
    @include respond(big-desktop){
        font-size: 75%;
    }
}
body{
    line-height:1.7;
    padding:3rem; 
    font-weight:300;
    font-size:1.6rem;
    @include respond(tab-port){
        padding:0;
    }
    

    
    }
    .section-all{
        margin-top:-20rem;
        background-color:$color-grey;
        padding: 25rem;
        &:not(:last-child){
            margin-bottom: 20rem;
        }
    }
    .section-2{
        background-color:$primary-color;
    }
    span {
padding:0;
margin:0;
    }

    ::selection{
        background-color: $primary-color-dark;
        color:$color-white;
    }